footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
